@{
    ViewData["Title"] = "Synapses";
}

<div id="synapse-overview" class="container text-center">
    
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
        Register Device
    </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Device ID</th>
                    <th scope="col">Device Model</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Status</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> <i class="fa-solid fa-fingerprint" /> 5316191164430650570L</th>
                <td><i class="fa-solid fa-microchip"></i> SynapsePod Crystal</td>
                <td><i class="fa-solid fa-server"></i> PWRBoard</td>
                    <td>


                    <i class="fa-solid fa-wifi"></i> Online since 1 week

                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"></path>
                            </svg>
                        </button>
                    <button type="button" class="btn btn-warning">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <i class="fa-solid fa-link-slash"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>


</div>
